body {
    background-image: url(../images/background.jpg);
}

#tablero {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 600px;
    height: 600px;
    margin: 0px;
    border: 10px solid brown;
}

.linea1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.linea2 {
    position: absolute;
    top: 0px;
    left: 75px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.linea3 {
    position: absolute;
    top: 0;
    left: 150px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.linea4 {
    position: absolute;
    top: 0;
    left: 225px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.linea5 {
    position: absolute;
    top: 0;
    left: 300px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.linea6 {
    position: absolute;
    top: 0;
    left: 375px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.linea7 {
    position: absolute;
    top: 0;
    left: 450px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.linea8 {
    position: absolute;
    top: 0;
    left: 525px;
    width: 75px;
    height: 600px;
    border: 0px;
    padding: 0px;
    color: #585781;
}

.blanco {
    width: 75px;
    height: 75px;
    top: 0px;
    left: 0px;
    background-color: white;
    border: 0px;
    padding: 0px;
    color: blue;
    font-size: 50px;
    text-align: center;
}

.negro {
    width: 75px;
    height: 75px;
    top: 0px;
    left: 0px;
    background-color: black;
    border: 0px;
    padding: 0px;
    color: red;
    font-size: 50px;
    text-align: center;
}